<div class="container text-center pt-5 mt-5" *ngIf="!(loading$ | async)">
  <h4 class="mb-5">Email Verified!</h4>
  <p>
    <img src="assets/icons/icons8-received-96.png" />
  </p>
  <h6 class="my-4">Congratulations, your registration is completed.</h6>
  <a routerLink="/auth/login" class="btn btn-lg btn-light">Login Now</a>
</div>
