<app-close></app-close>
<div class="card">
  <h5 class="title text-center">Check your inbox to complete the registration</h5>
  <div class="text-center image-bg" [style.backgroundImage]="'url(assets/images/check-your-email.svg)'">
    <label class="d-block my-3">We sent the link to you at</label>
      <h6 class="font-weight-bold">{{ email }}</h6>
    </div>
    <div class="mt-3 text-center">
      <a routerLink="/auth/login" class="text-decoration-none d-block">Go to login page</a>
    </div>
</div>
