<app-close></app-close>
<div class="card" *ngIf="!emailSent">
  <h4 class="title text-center">Recover Password</h4>
  <ngb-alert [type]="'danger'" *ngIf="!!(errrorMessage$ | async)" [dismissible]="false" class="text-center">
    {{ errorMessage$ | async }}
  </ngb-alert>
  <div class="form-input">
    <form [formGroup]="form" (submit)="onSubmit()" #formDir="ngForm">
      <div class=" form-group pt-3">
        <label class="d-block mb-3">We'll send a recovery link to</label>
        <app-form-field type="email" formControlName="email"
          [errorMessage]="getErrorMessage(email,formDir)" placeholder="Email address">
        </app-form-field>
      </div>
      <div class="mt-3 text-center">
        <button class="btn btn-block btn-primary my-4" type="submit" [disabled]="(isLoading$ | async)">
          Send recovery link
          <img src="assets/icons/btn-spinner.svg" height="19px" *ngIf="(isLoading$ | async)" />
        </button>
        <a routerLink="/auth/login" class="text-decoration-none">Return to login</a>
      </div>
    </form>
  </div>
</div>
<div class="card" *ngIf="emailSent">
  <h4 class="title text-center">Recover Password</h4>
  <div class="text-center image-bg" [style.backgroundImage]="'url(assets/images/check-your-email.svg)'">
    <label class="d-block my-3">We sent a recovery link to your email address</label>
      <h6 class="font-weight-bold">{{ form.value.email }}</h6>
    </div>
    <div class="mt-3 text-center">
      <a routerLink="/auth/login" class="text-decoration-none">Return to login</a> |
      <a (click)="emailSent=false" class="text-decoration-none text-primary">Resend link</a>
    </div>
</div>

