<div class="form-group" *ngIf="!preText">
  <label *ngIf="label">{{ label }}</label>
  <input class="form-control" [class.is-invalid]="errorMessage" [ngModel]="value" (ngModelChange)="valueChanged($event)"
    (blur)="onBlur()" [type]="type === 'password' ? (isShowPassword ? 'text' : 'password') : type"
    [placeholder]="placeholder" [disabled]="disabled">
  <small class="error d-block mt-2" [class.visible]="errorMessage">{{errorMessage}}</small>
</div>

<div class="form-group" *ngIf="!!preText">
  <label *ngIf="label">{{ label }}</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">{{ preText }}</span>
    </div>
    <input class="form-control" [class.is-invalid]="errorMessage" [ngModel]="value"
      (ngModelChange)="valueChanged($event)" (blur)="onBlur()"
      [type]="type === 'password' ? (isShowPassword ? 'text' : 'password') : type" [placeholder]="placeholder"
      [disabled]="disabled">
  </div>
  <small class="error d-block mt-2" [class.visible]="errorMessage">{{errorMessage}}</small>
</div>
