@import "~src/app/_shared/styles/variables";
@import "~src/app/_shared/styles/custom";

:host {
  display: flex;
  height: 100vh;
  background-color: $primary;
}

.card {
  margin: auto;
  width: 400px;
  padding: 24px 40px;
}

@media only screen and (max-width: 450px) {
  .card {
    width: 340px;
  }
}

.password-show {
  transform: translate(-0.8em, 3.6em);
  cursor: pointer;
}

.image-bg {
  padding-bottom: 289px;
  background: center bottom no-repeat;
}
