a {
  cursor: pointer;
}

.nav-link {
  font-weight: 400;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.form-control.is-invalid {
  background-image: none;
}
