$blue: #0d47a1 !default;
$green: #007E33 !default;
$cyan: #0099CC !default;
$yellow: #FF8800 !default;
$red: #CC0000 !default;

$primary: $blue;
$danger: $red;

$border-radius: 5px !default;
$border-radius-lg: 5px !default;
$border-radius-sm: 5px !default;

$input-btn-padding-y: 0.6rem !default;
$input-btn-padding-x: 0.8rem !default;
