<nav class="navbar navbar-expand-md navbar-light mb-4">
  <div class="container">
    <span class="navbar-brand" [class.mt-3]="!collapsed">
      <img src="assets/images/logo_light.png" class="logo" />
    </span>
    <button class="navbar-toggler mr-3" type="button" aria-controls="navbarContent" [class.mt-3]="!collapsed"
      [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <img src="assets/icons/icons8-menu.svg" />
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" *ngFor="let item of items">
          <a class="nav-link text-light" [routerLink]="item.path">{{ item.title }}</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" display="dynamic" placement="bottom-right">
          <a class="nav-link">
            <div class="d-flex pointer">
              <span>
                <img src="assets/icons/notifications.svg" class="text-light" alt="Notifications" />
              </span>
              <span class="ml-4 mr-4">
                <img src="assets/icons/settings.svg" class="text-light" alt="Settings" />
              </span>
              <span (click)="onLogout()">
                <small class="text-light pt-2 d-inline-block">LOG OUT</small>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
