<app-close></app-close>
<div class="card">
  <h4 class="title text-center text-primary">Register to SmartLend</h4>
  <ngb-alert [type]="'danger'" *ngIf="!!(errorMessage$ | async) || localError" [dismissible]="false" class="text-center">
    {{ errorMessage$ | async }} {{ localError }}
  </ngb-alert>
  <div class="form-input pt-3">
    <form [formGroup]="registerForm" (submit)="onSubmit()" #formDir="ngForm">
      <small class="alert alert-warning d-block pointer" role="alert" *ngIf="!(isLoading$ | async) && !isInvited && !!inviteCode">
        Link is already used. You may create a new group or request a new link.
        <a class="new-group font-weight-bold" (crlick)="isNewGroup=true;inviteCode=''">Click to Create New Group</a>
      </small>

      <small class="alert alert-success d-block" role="alert" *ngIf="!!inviteCode && isInvited">
        You are invited by <b>{{ hostMemberName$ | async }}</b> to join <b>{{ existingGroupName$ | async }}</b>
      </small>

      <app-form-field type="text" formControlName="groupName" label="Group Name" *ngIf="!!!inviteCode"
        [errorMessage]="getErrorMessage(groupName,formDir)">
      </app-form-field>

      <div class="d-flex">
        <div class="mr-1 w-50">
          <app-form-field type="text" formControlName="firstname" label="First Name"
            [errorMessage]="getErrorMessage(firstname,formDir)">
          </app-form-field>
        </div>
        <div class="ml-1 w-50">
          <app-form-field type="text" formControlName="lastname" label="Last Name"
            [errorMessage]="getErrorMessage(lastname,formDir)">
          </app-form-field>
        </div>
      </div>

      <app-form-field type="number" formControlName="mobileNo" label="Mobile No" preText="+63"
        [errorMessage]="getErrorMessage(mobileNo,formDir)">
      </app-form-field>

      <app-form-field type="email" formControlName="email" label="Email Address"
        [errorMessage]="getErrorMessage(email,formDir)">
      </app-form-field>


      <div class="form-group">
        <label for="password">Password</label>
        <small class="float-right password-show" (click)="showPassword=!showPassword" *ngIf="!!password.value">
          {{ !showPassword? 'SHOW': 'HIDE' }}
        </small>
        <app-form-field type="password" formControlName="password" *ngIf="!showPassword"
          [errorMessage]="getErrorMessage(password,formDir)"> </app-form-field>
        <app-form-field type="text" formControlName="password" *ngIf="showPassword"
          [errorMessage]="getErrorMessage(password,formDir)"> </app-form-field>
      </div>

      <button class="btn btn-primary btn-block mt-4 login" type="submit" [disabled]="(isLoading$ | async)">
        Create Account
        <img src="assets/icons/btn-spinner.svg" height="19px" *ngIf="(isLoading$ | async)" />
      </button>
      <div class="footer text-center mt-2">
        <label class="mr-2">Already have an account?</label>
        <a routerLink="/auth/login" class="text-decoration-none">Log In</a>
      </div>
    </form>
  </div>
</div>
