<div class="container text-center pt-5 mt-5">
  <h4 class="mb-5">Expired Link!</h4>
  <p>
    <img src="assets/icons/icons8-high-importance-96.png" />
  </p>
  <h6 class="my-4">This can happen if the code is malformed, expired, or has already been used</h6>
  <a routerLink="/" class="btn btn-lg btn-light">Home</a>
</div>
