<app-close></app-close>
<div class="card">
  <h4 class="title text-center text-primary">Log in to SmartLend</h4>
  <ngb-alert [type]="'danger'" *ngIf="!!(errorMessage$ | async)" [dismissible]="false" class="text-center">
    {{ errorMessage$ | async }}
  </ngb-alert>
  <div class="form-input pt-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
      <app-form-field type="email" formControlName="email" label="Email Address"
        [errorMessage]="getErrorMessage(email,formDir)">
      </app-form-field>

      <div class="form-group">
        <label for="password">Password</label>
        <small class="float-right password-show" (click)="showPassword=!showPassword" *ngIf="!!password.value">
          {{ !showPassword? 'SHOW': 'HIDE' }}
        </small>
        <app-form-field type="password" formControlName="password" *ngIf="!showPassword"
          [errorMessage]="getErrorMessage(password,formDir)"> </app-form-field>
        <app-form-field type="text" formControlName="password" *ngIf="showPassword"
          [errorMessage]="getErrorMessage(password,formDir)"> </app-form-field>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="remember-me" formControlName="rememberMe">
        <label class="form-check-label" for="remember-me">
          Remember me
        </label>
        <a class="float-right text-decoration-none" routerLink="/auth/forgot-password">Forgot password?</a>
      </div>
      <button class="btn btn-primary btn-block mt-3" [disabled]="(isLoading$ | async)">
        Log In
        <img src="assets/icons/btn-spinner.svg" height="19px" *ngIf="(isLoading$ | async)" />
      </button>
      <div class="footer text-center mt-2">
        <label class="mr-2">Don't have an account? </label>
        <a routerLink="/auth/register" class="text-decoration-none">Register</a>
      </div>
    </form>
  </div>
</div>
