@import "~src/app/_shared/styles/variables";

:host {
  nav {
    padding: 0;
    min-height: 72px;
    max-height: 84px;
    background-color: $primary;
    z-index: 9;
  }
}

.dropdown-item {
  padding: 0.7rem 1.5rem
}


.nav-link {
  font-size: .875rem;
  letter-spacing: .025rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid $primary;
}

.nav-item.active a,
.nav-link:hover {
  border-bottom: 1px solid #ffffff;
}

.navbar-collapse {
  background-color: $primary;
}
