<nav class="navbar navbar-expand-md navbar-light mb-4">
  <div class="container">
    <span class="navbar-brand" [class.mt-3]="!collapsed">
      <img src="assets/images/logo_light.png" class="logo" />
      <img src="assets/images/brand_logo_light.png" />
    </span>
    <button class="navbar-toggler mr-3" type="button" [class.mt-3]="!collapsed" aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <img src="assets/icons/icons8-menu.svg" />
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          *ngFor="let item of items">
          <a class="nav-link text-light" [routerLink]="item.path">{{ item.title }}</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-light" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-light" routerLink="/auth/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
