<app-close></app-close>
<div [class.card]="!(isPasswordChange$ | async)">
  <div *ngIf="!(isPasswordChange$ | async)">
    <h4 class="title text-center">Choose a new password</h4>
    <div class="form-input">
      <form [formGroup]="form" (submit)="onSubmit()" #formDir="ngForm">
          <div class="form-group my-3">
              <label for="password">Type your password</label>
              <small class="float-right password-show" (click)="showPassword=!showPassword" *ngIf="!!password.value">
                {{ !showPassword? 'SHOW': 'HIDE' }}
              </small>
              <app-form-field type="password" formControlName="password" *ngIf="!showPassword"
              [errorMessage]="getErrorMessage(password,formDir)"></app-form-field>
              <app-form-field type="text" formControlName="password" *ngIf="showPassword"
              [errorMessage]="getErrorMessage(password,formDir)"></app-form-field>
            </div>
        <div class="mt-3 text-center">
          <button class="btn btn-block btn-primary my-4" type="submit" [disabled]="(isLoading$ | async)">
            Continue
            <img src="assets/icons/btn-spinner.svg" height="19px" *ngIf="(isLoading$ | async)" />
          </button>
          <a routerLink="/auth/login" class="text-decoration-none">Return to login</a>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="container text-center text-light pt-5 mt-5" *ngIf="isPasswordChange$ | async">
  <h4 class="mb-5">Success!</h4>
  <p>
    <img src="assets/icons/icons8-ok-96.png" />
  </p>
  <h6 class="my-4">Your password was successfully changed.</h6>
  <a routerLink="/auth/login" class="btn btn-lg btn-light">Login</a>
</div>
